/*COMENTARIOS*/
/*Estilos */

body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
  font-style: normal;
  line-height: normal;
  color: #201E1E;
  background-color: #ffffff;
}



h0{
  font-size: 96px;
  font-weight: 700;
}

/* Fonts Bold/H1 32 Titulos */
h1{
  font-size: 32px;
  font-weight: 700;
}


/* Fonts Regular/H3 24 Titulos Subsecciones H2 */
h3{
  font-size: 24px;
  font-weight: 400; 
}




.container {
  display: flex;
  flex-wrap: wrap; /* agrega salto de línea a los elementos */
  margin: 16px;
}


/* Selector específico anidado */
.column p {
  width: 350px;
}



/* Contiene la imagen central y el titulo*/
.grupo7{
  width: 100%; 
  height: 100%; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 85px; 
  display: inline-flex;
}

.imagen{
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 10px; display: flex;
}

.titulo-home{
 padding-top: 16px; 
 padding-bottom: 16px; 
 padding-left: 64px; 
 padding-right: 24px; 
 flex-direction: column; 
 justify-content: center; 
 align-items: flex-start; 
 display: inline-flex;
}

Titulo{
  display: flex;
  width: 494px;
  height: 211px;
  padding: 64px 8px 16px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

Bajada{
  display: flex;
  width: 164px;
  height: 57px;
  padding: 8px 16px 16px 16px;
  align-items: center;
  gap: 10px;
}

Nombre{
  display: flex;
  width: 297px;
  height: 108px;
  padding: 64px 8px 0px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}





/* @media queries para ajustar el tamaño del texto según el ancho de la pantalla */

/* Para móviles */
@media (max-width: 576px) {
  .responsive-text {
    font-size: 14px; /* Tamaño de texto para móviles */
  }
}

/* Para tabletas */
@media (min-width: 577px) and (max-width: 992px) {
  .responsive-text {
    font-size: 18px; /* Tamaño de texto para tabletas */
  }
}

/* Para escritorios */
@media (min-width: 993px) and (max-width: 1200px) {
  .responsive-text {
    font-size: 20px; /* Tamaño de texto para escritorios */
  }
}

/* Para pantallas grandes */
@media (min-width: 1201px) {
  .responsive-text {
    font-size: 24px; /* Tamaño de texto para pantallas grandes */
  }
}












