/*COMENTARIOS*/
/*Estilos */

body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
  font-style: normal;
  line-height: normal;
}


/* Fonts Bold/H1 32 Titulos */
h1{
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
}


/* Fonts Regular/H2 28 Titulos, Subtemas H1 */
h2{
    font-size: 28px;
    font-weight: 400;
}

h2bold{
    font-size: 28px;
    font-weight: 700;
}

/* Fonts Regular/H3 24 Titulos Subsecciones H2 */
h3{
    font-size: 24px;
    font-weight: 400; 
}


/* Fonts Regular/H4 20 Titulos Subsecciones H3 */
h4{
    font-size: 20px;
    font-weight: 400;
}


/* Fonts Regular/H5 18 Titulos Subsecciones H4 */
h5{
    font-size: 18px;
    font-weight: 400;
}


/* Fonts Regular/H6 16 Titulos Subsecciones H5 */
h6{
    font-size: 16px;
    font-weight: 400;
}


/* Fonts Regular/Parrafos 18 */
p{
    font-size: 18px;
    font-weight: 400;   
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Fonts Regular/Fine Print 15 */
fineprint{
    font-size: 15px;
    font-weight: 300;
}


.container {
    display: flex;
    flex-wrap: wrap; /* agrega salto de línea a los elementos */
    margin: 16px;
  }


  /* Selector específico anidado */
.column p {
    width: 350px;
  }

.frame-4{
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
}

/* Estilos para las imágenes */
/*https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit*/

.cuadro imagen{
    display: flex;
    padding: 64px 32px 8px 32px;
    align-items: flex-start;
    gap: 10px;
}
img {
    object-position: 45% 0;
    object-fit: cover;
    width: 435px;
    height: 617px;
    max-width: 100%; /* Para asegurar que las imágenes se ajusten al contenedor */
    margin: 24px;
  }

  
/*Grupo con mi nombre y datos*/
cuadro{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.frame-3{
    display: flex;
    padding: 0px 19px;
    flex-direction: column;
    align-items: flex-end;
}



.frame-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/*Texto descriptivo sobre mi*/
sobremi{
    display: flex;
    padding: 16px 16px 32px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 800px;
}

DescCuadro{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

TextoCuadro{
    width: 412px;
    height: 190px;
    padding: 24px 8px 16px 8px;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 396px;
    flex-shrink: 0;
}

.grupo1{
    width: 922px;
    height: 504px;
}


