/*COMENTARIOS*/
/*Estilos */

body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
  font-style: normal;
  line-height: normal;
}


/* Fonts Bold/H1 32 Titulos */
h1{
    font-size: 32px;
    font-weight: 700;
}


/* Fonts Regular/H2 28 Titulos, Subtemas H1 */
h2{
    font-size: 28px;
    font-weight: 400;
}


/* Fonts Regular/H3 24 Titulos Subsecciones H2 */
h3{
    font-size: 24px;
    font-weight: 400; 
}


/* Fonts Regular/H4 20 Titulos Subsecciones H3 */
h4{
    font-size: 20px;
    font-weight: 400;
}


/* Fonts Regular/H5 18 Titulos Subsecciones H4 */
h5{
    font-size: 18px;
    font-weight: 400;
}


/* Fonts Regular/H6 16 Titulos Subsecciones H5 */
h6{
    font-size: 16px;
    font-weight: 400;
}


/* Fonts Regular/Parrafos 18 */
p{
    font-size: 18px;
    font-weight: 400;   
    width: 500px; /* Ancho específico para el párrafo */
    padding: 6px;
    justify-content: center;
    margin-right: 10px;
}


/* Fonts Regular/Fine Print 15 */
fineprint{
    font-size: 15px;
    font-weight: 300;
}


/* Fonts Regular/Botones 16 */
button{
    font-size: 16px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-wrap: wrap; /* agrega salto de línea a los elementos */
    margin: 16px;
  }


  /* Selector específico anidado */
.column p {
    width: 350px;
  }
/* Estilos para las imágenes */
/*https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit*/
img {
   object-position: 45% 0;
    object-fit: cover;
    width: 435px;
    height: 617px;
    max-width: 100%; /* Para asegurar que las imágenes se ajusten al contenedor */
    margin: 24px;
  }






